.side-bar-container {
  grid-column: span 1;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.title-bar {
  display: flex;
  justify-content: space-between;
}

.report-button {
  margin-top: auto;
}

.clear-button {
  display: inline;
  position: absolute;
  right: -10px;
}